.container{ 
    background-color: green;
    border: 3px solid gray;
    width: 70%;
    margin: auto;
    text-align: center;
    padding: 10px;
    
}

body{
    background-image: url(images\ \(1\).jpg);
    background-repeat:  no-repeat;
    background-size: cover;
    
}

h1{
    color: rgb(41, 41, 173);
}